@*@using SAMPortal.Models
    @model NewCrewRegistrationViewModel*@

@*@using (Html.BeginForm("SaveMealProvision", "Api/Dashboard", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {*@
@*<div class="callout callout-info">
        <h3><i class="fa fa-spoon"></i> &nbsp;Meals</h3>
    </div>*@

<div class="box box-solid">
    <div id="meals" class="box-body">
        <br />
        <div class="col-md-12 col-lg-6 form-group" id="crew_picture" style="text-align:center;">
            <img style="display: inline-block" class="img img-responsive" src="~/Content/images/default.jpg" />
        </div>

        <div class="col-sm-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="mnno" class="control-label">Trainee No.</label>
                <div class="input-group">
                    <input id="mnno_input" placeholder="Click the magnifying glass to search crew" type="text" class="form-control" disabled />
                    <span id="crew_search_btn" class="input-group-btn">
                        <button type="button" name="search" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="rank" class="control-label">Rank</label>
                <input id="rank_input" type="text" class="form-control" disabled />
            </div>
        </div>
        <div class="col-sm-6 form-group" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="name" class="control-label">Name</label>
                <input id="name_input" type="text" class="form-control" disabled />
            </div>
        </div>
        <div class="col-sm-6 form-group pull-right" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="meal_provision" class="control-label">Date</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="meal_reservation">
                </div>
            </div>
            <!-- /.input group -->
        </div>
        <div class="form-group col-xs-12 col-lg-6 pull-right">
            <label for="meal" class="control-label">Meal<span class="mandatory">*</span></label>
            <div class="col-xs-12 checkbox">
                <label class="col-lg-4 col-xs-12" style="margin-bottom: 20px;">
                    <input id="breakfast_cb" type="checkbox" style="margin-top: 0px;">
                    Breakfast
                </label>

                <label class="col-lg-4 col-xs-12" style="margin-bottom: 20px;">
                    <input id="lunch_cb" type="checkbox" style="margin-top: 0px;">
                    Lunch
                </label>

                <label class="col-lg-4 col-xs-12" style="margin-bottom: 20px;">
                    <input id="dinner_cb" type="checkbox" style="margin-top: 0px;">
                    Dinner
                </label>

                <label class="col-lg-4 col-xs-12" style="margin-bottom: 20px;">
                    <input id="am_snack_cb" type="checkbox" style="margin-top: 0px;">
                    Morning Snack
                </label>

                <label class="col-lg-4 col-xs-12" style="margin-bottom: 20px;">
                    <input id="pm_snack_cb" type="checkbox" style="margin-top: 0px;">
                    Afternoon Snack
                </label>

            </div>

        </div>
        <div class="form-group col-xs-12 pull-right" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12 col-lg-6">
                <label for="dietaryReqiuirement" class="control-label">Dietary Requirement<span class="mandatory">*</span></label>
                <input id="dietaryRequirement_input" class="form-control"  />
                @*<input id="reason_input" type="text" class="form-control" style="border-radius: 3px;" placeholder="Required" />*@
            </div>
        </div>

        <div class="form-group col-xs-12 pull-right" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-xs-12">
                <label for="remarks" class="control-label">Reason<span class="mandatory">*</span></label>
                <textarea id="reason_input" class="form-control" style="resize: none" maxlength="250"></textarea>
                @*<input id="reason_input" type="text" class="form-control" style="border-radius: 3px;" placeholder="Required" />*@
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-12">
                @*<span id="meal_err_msg" style="color: red; display: none">**Fields must not be left blank</span>*@
                <button type="button" id="save_meal_btn" class="btn btn-default pull-right" style="margin-left: 10px;">Submit</button>
                <button type="button" id="clear_meal_btn" class="btn btn-default pull-right">Clear</button>

            </div>
        </div>

        <div id="meal_tbl_div">

            <table id="meal_tbl" class="table table-bordered table-striped table-hover col-sm-12">
                <thead>
                    <tr>
                        <td colspan="5">Meal Provision Log</td>
                    </tr>
                    <tr>
                        <td rowspan="2">No</td>
                        <td colspan="2">Meal Date</td>
                        <td rowspan="2">Reason</td>
                        <td rowspan="2">Reference ID</td>
                    </tr>
                    <tr>
                        <td>From</td>
                        <td>To</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


    </div>
</div>


<div class="modal modal-success fade" id="modal-success">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_close_btn" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-default fade in" id="meal_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Meal Provisions Log</h4>
            </div>
            <div class="modal-body">
                <p></p>
                <table id="meal_log_tbl" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2">Id</th>
                            <th colspan="2">Meal Date</th>
                            <th rowspan="2">B</th>
                            <th rowspan="2">MS</th>
                            <th rowspan="2">L</th>
                            <th rowspan="2">AS</th>
                            <th rowspan="2">D</th>
                            <th rowspan="2">Reason</th>
                            <th rowspan="2">Action</th>
                        </tr>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade" id="modal_warning_meal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_warning_meal_yes" class="btn btn-outline pull-right" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/meals")
}
