
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">

            <h3><i class="fa fa-group"></i> &nbsp;Our Team</h3>
        </div>
    </div>

    <div class="invoice">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" style="display: block; margin-left: auto; margin-right:auto;" src="http://umtc.com.ph/wp-content/uploads/2015/05/revisedteam-1024x389.jpg" />
            </div>
            <hr />
            <div class="col-md-12">
                <div class="box-body no-border">
                    <p>
                        United Marine Training Center Inc., has a reputation for strict adherence to high standards. This not only applies to trainees but to the entire organization as well.
                    </p>
                    <p>
                        Our instructors are handpicked and go through rigorous training themselves. Their teaching and technical skills are honed through the Faculty Development Program to guarantee their continued professional growth. Most of them are seasoned seafarers who bring with them a wealth of tried and tested practical knowledge. A number of them currently go onboard and bring back fresh insight and the most relevant information.
                    </p>
                    <p>
                        The maritime training industry recognizes our team’s expertise. The industry’s governing agencies have continuously sought our participation and valuable insights in the development of quality courses. This ensures our contribution in the development of maritime education and training policy.
                    </p>
                </div>
            </div>
        </div>
    </div>

