
@{
    ViewBag.Title = "UnderConstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-solid">
    <div class="box-body">
        <h1 style="text-align: center;">COMING SOON!</h1>
        <h4 style="text-align: center;">This page is under construction. Please comeback later.</h4>
        <div class="col-xs-12" style="text-align: center;">
            <span><i class="fa fa-wrench" style="font-size: 10vw; margin-bottom: 20px;"></i></span>
        </div>
        <hr />
        <div class="row"></div>
        <p style="text-align: center;">For any inquiries: <br />Please email us at marketing@umtc.com.ph <br />Call us at +63 981 6682 local 2128, 2144, 2131, 2133, 2141.</p>
    </div>
</div>

