@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Pending for approval</h1>
    <h2 class="text-danger">This account is still pending for approval. Please contact UMTC Sales and Marketing Team.</h2>
</hgroup>
