@using SAMPortal.Models


<table id="crew_list_tbl" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Temp No.</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Birth Place</th>
            <th>Company</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="crew_list_tbl_tbody"></tbody>
</table>

@section Scripts{

}