
<table id="review_special_schedule_requests_tbl" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Course Title</th>
            <th>Start Date</th>
            <th>Participants</th>
            <th>Notes</th>
            <th>Date Requested</th>
            <th>RequestedBy</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

