
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="callout callout-info">

        <h3><i class="fa fa-cog"></i> &nbsp;Administration</h3>
    </div>*@

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">&nbsp;&nbsp;Generate Link</h3>
        <div class="box-tools pull-right">
            @*<button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>*@
        </div>
    </div>
    <div id="generate_link" class="box-body">

    </div>
</div>

<div class="box box-solid collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title col-xs-11">Registered Accounts</h3>
        <div class="box-tools pull-right">
            <button id="refresh_tbl" class="btn btn-box-tool">
                <i class="fa fa-refresh"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div id="review_registered_accounts" class="box-body" style="display: none">

    </div>
</div>


<div class="box box-solid collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title col-xs-11">New Crew Request</h3>
        <div class="box-tools pull-right">
            <button id="refresh_new_crew_tbl" class="btn btn-box-tool">
                <i class="fa fa-refresh"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        @*<div class="col-xs-1">
                <button id="" class="btn btn-default pull-right">Refresh</button>
            </div>*@
    </div>
    <div id="review_new_crew_tbl" class="box-body" style="display: none">

    </div>
</div>

<div class="box box-solid collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title col-xs-11">Special Schedule Requests</h3>
        <div class="box-tools pull-right">
            <button id="refresh_special_schedule_requests_tbl" class="btn btn-box-tool">
                <i class="fa fa-refresh"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        @*<div class="col-xs-1">
                <button id="refresh_special_schedule_requests_tbl" class="btn btn-default pull-right">Refresh</button>
            </div>*@
    </div>
    <div id="special_schedule_requests_tbl" class="box-body" style="display: none">

    </div>
</div>

<div class="box box-solid collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title col-xs-11">Off Site Accomodation Request</h3>
        <div class="box-tools pull-right">
            <button id="refresh_off_site_accomodation_btn" class="btn btn-box-tool">
                <i class="fa fa-refresh"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        @*<div class="col-xs-1">
                <button id="refresh_off_site_accomodation_btn" class="btn btn-default pull-right">Refresh</button>
            </div>*@
    </div>
    <div id="review_off_site_accomodation" class="box-body" style="display: none">

    </div>
</div>

<div class="box box-solid collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title col-xs-11">Transportation Requests</h3>
        <div class="box-tools pull-right">
            <button id="refresh_transportation_btn" class="btn btn-box-tool">
                <i class="fa fa-refresh"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        @*<div class="col-xs-1">
                <button id="refresh_transportaion_btn" class="btn btn-default pull-right">Refresh</button>
            </div>*@
    </div>
    <div id="transportation_div" class="box-body" style="display: none">

    </div>
</div>

<div class="box box-solid collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title col-xs-11">Update Dormitory Fees</h3>
        <div class="box-tools pull-right">
            <button id="refresh_dormitory_fees_btn" class="btn btn-box-tool">
                <i class="fa fa-refresh"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div id="dormitory_fees_div" class="box-body" style="display: none">
        <div class="col-sm-12">
            <div class="col-sm-6 form-group">
                <label>Dorm - Standard</label>
                <input id="dorm_standard" type="text" class="form-control">
            </div>
            <div class="col-sm-6 form-group">
                <label>Dorm - Superior</label>
                <input id="dorm_superior" type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6 form-group">
                <label>Hotel - Double</label>
                <input id="hotel_double" type="text" class="form-control">
            </div>
            <div class="col-sm-6 form-group">
                <label>Hotel - Single</label>
                <input id="hotel_single" type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6 form-group">
                <label>Executive Room</label>
                <input id="executive_room" type="text" class="form-control">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-sm-12 form-group">
                <input type="button" value="Save" id="save_dorm_fees" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="update_dormitory_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" id="update_dormitory_modal_yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="valid_number_warning">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p>Please enter a valid number!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_picture fade in" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="modal_warning_review_offsite_accommodation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" id="modal_warning_review_offsite_accommodation_yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="modal-warning">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" id="modal_yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="modal-second-warning">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" id="modal_yes_second" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-success fade in" id="modal_success">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-success fade in" id="modal_transpo_completed_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p>Successfully marked as Completed</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal" id="moda_transpo_completed_modal_yes">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="modal_approve_crew_request">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" id="modal_approve_crew_request_yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="special_schedule_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" id="special_schedule_modal_yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-warning fade in" id="modal_complete_transportation_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" id="modal_complete_transportation_modal_yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning fade in" id="special_schedule_modal_deny">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" id="special_schedule_modal_deny_yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="review_off_site_accommodation_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title">Review Off Site Accommodation</h4>
            </div>
            <div class="modal-body">
                <form id="off_site_modal_form"></form>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label>Reason of Stay: </label>
                        <input type="text" class="form-control" id="reason_of_stay_input" />
                    </div>
                    <div class="col-md-6">
                        <label>Remarks</label>
                        <input type="text" class="form-control" id="admin_remarks" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" id="off_site_accommodation_save_btn" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal_off_site_accommodation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Rates</h4>
            </div>
            <div class="modal-body">
                <p>
                    <label class="radio-inline"><input type="radio" name="rate_optradio" id="regular_optradio" value="Regular">Regular</label>
                    <label class="radio-inline"><input type="radio" name="rate_optradio" id="special_optradio" value="Special">Special</label>
                    <label class="radio-inline"><input type="radio" name="rate_optradio" id="block_booking_optradio" value="Block Booking">Block Booking</label>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default puul-right' pull-right" data-dismiss="modal" id="modal_off_site_accommodation_ok">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal_transportation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="col-lg-6 form-group" id="company_div">
                        <label>Company: </label>
                        <span id="company"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="type_div">
                        <label>Type: </label>
                        <span id="type"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="vehicle_div">
                        <label>Vehicle: </label>
                        <span id="vehicle"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="inbound_div">
                        <label>Inbound: </label>
                        <span id="inbound"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="outbound_div">
                        <label>Outbound: </label>
                        <span id="outbound"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="one_trip_div">
                        <label>One Trip: </label>
                        <span id="onetrip"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="two_trips_div">
                        <label>Two Trips: </label>
                        <span id="twotrips"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="pick_up_div">
                        <label>Pick Up: </label>
                        <span id="pickup"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="dt_div">
                        <label>Date and Time: </label>
                        <span id="dt_pickup"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="drop_off_div">
                        <label>Drop Off: </label>
                        <span id="dropoff"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="second_pick_up_div">
                        <label>Second Pick Up: </label>
                        <span id="pickup_2"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="dt_2_div">
                        <label>Date and Time: </label>
                        <span id="dt_pickup_2"></span>
                    </div>
                    <div class="col-lg-6 form-group" id="second_drop_off_div">
                        <label>Second Drop Off: </label>
                        <span id="dropoff_2"></span>
                    </div>
                    <div class="col-lg-12 form-group" id="notes_div">
                        <label>Remarks: </label>
                        <textarea class="form-control" rows="5" id="notes" style="resize: none; background-color: white" disabled></textarea>
                    </div>
                </div>
                &nbsp;
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" id="transportation_confirm_btn" data-dismiss="modal">Complete</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/administration")
}