@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Your account is still locked. Please contact Sales and Marketing Team for approval.
    </p>
</div>
